balloon: 0
boot: order=ide2;scsi0
cores: 2
cpu: host
ide2: nas_vz:iso/Aboot-veos-serial-8.0.2.iso,media=cdrom,size=6M
memory: 4096
meta: creation-qemu=9.2.0,ctime=1753995395
name: veos-4.34.1F-template
net0: virtio=BC:24:11:65:D8:47,bridge=vmbr0,firewall=1
numa: 0
ostype: l26
scsi0: local-lvm:base-620-disk-0,iothread=1,size=4104M,ssd=1
scsihw: virtio-scsi-single
serial0: socket
smbios1: uuid=ecbd76e8-1d35-4053-a361-d948e34315a6
sockets: 1
template: 1
vga: serial0
vmgenid: c1c5fc02-d108-472a-b49e-0c6acc3ad370