services:
  kolibri:
    image: treehouses/kolibri:latest
    container_name: kolibri
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/root/.kolibri
    # ports:
    #   - "8080:8080"  # Using Traefik instead
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.kolibri.rule=Host(`kolibri.internal.earles.io`)
      - traefik.http.routers.kolibri.entrypoints=websecure
      - traefik.http.routers.kolibri.tls.certresolver=production
      - traefik.http.services.kolibri.loadbalancer.server.port=8080

networks:
  traefik:
    external: true